@import "var";
@import "icon";

.chat-wrapper{
  height: 100%;
  padding: 70px 10px 55px;
  background-color: #f7f7f7;
  box-sizing: border-box;
  overflow: scroll;
}

.chat-ques-aside{
  position: absolute;
  top: 0;
  left: 8px;
  width: 55px;
  height: 100%;
  padding-top: 20px;
  box-sizing: border-box;
  background: url("../assets/kefu3.png") no-repeat 0px 85px;
  background-size: contain;
  .text,.text-c{
    text-align: center;
    line-height: 1.5;
    font-size: 20px;
  }
  .text{
    color: #bbb;
  }
  .text-c{
    color: $basicC-d;
  }
}

.chat-ques-list{
  display: none;
  position: relative;
  min-height: 155px;
  padding: 10px 10px 10px 75px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff;
}

.chat-ques-item{
  font-size: 13px;
  line-height: 1.8;
  padding: 5px 0;
  color: #333;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  &:last-child{
    border-bottom: none;
  }
  &:hover{
    color: #4892D8;
  }
}

.chat-window{
  padding-bottom: 100px;
  font-size: 13px;
  .server,.client{
    max-width: 65%;
    border-radius: 4px;
    line-height: 1.5;
    clear: both;
    margin-bottom: 10px;
    word-break: break-all;
  }
  .server{
    float: left;
    position: relative;
    padding: 10px 10px;
    margin-left: 40px;
    color: #fff;
    background: #4892D8;
    &:after{
      position: absolute;
      content: '';
      width: 28px;
      height: 28px;
      top: 0;
      left: -40px;
      background-image: url("../assets/library_robot_1.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    &::before{
      content: '';
      position: absolute;
      left: -12px;
      border: 7px solid transparent;
      border-right: 6px solid #4892D8;
    }
  }
  .client{
    float: right;
    position: relative;
    padding: 10px 10px;
    margin-right: 40px;
    color: #333;
    background: #dfdfdf;
    &::after{
      position: absolute;
      content: '';
      width: 35px;
      height: 35px;
      top: 0;
      right: -40px;
      background-image: url("../assets/me.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    &::before{
      content: '';
      position: absolute;
      right: -12px;
      border: 7px solid transparent;
      border-left: 6px solid #dfdfdf;
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f7f7f7;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #f7f7f7;
}

.feedback-btn-container{
  position: absolute;
  color: #000;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  transition: all .4s;
}

.feedback-btn{
  margin-left: 8px;
  padding: 3px;
  line-height: 1.1;
  font-size: 13px;
  background-color: rgba(0,132,255,.1);
  border-radius: 50%;
  color: #999;
  transform: scale(1);
  transition: all .4s;
  &.active{
    transform: scale(1.2);
    &.agree-btn{
      color: #57a3f3;
    }
    &.disagree-btn{
      color: #888;
    }
  }
  span{
    display: inline-block;
    vertical-align: top;
  }
}
