$basicC: #2d8cf0;
$basicC-d: #2b85e4;

$basic-text-C: #495060;

$icomoon-font-path: "../fonts" !default;

$icon-oppose_fill_light: \e900;
$icon-appreciate_fill_light: \e901;
$icon-bad: \e902;
$icon-good: \e903;
$icon-smile2: \e9e2;
$icon-sad2: \e9e6;
